<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Province</title>
</head>
<body>
<p><a th:href="@{/provinces}">Back to list</a></p>
<h3 th:if="${message}">
    <span style="color:red;" th:text="${message}"></span>
</h3>
<form method="post" th:action="@{/save-province}" th:object="${province}" novalidate>
    <table>
        <tr>
            <th></th>
            <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th colspan="2"><input type="submit" value="Submit"></th>
        </tr>
    </table>
</form>
</body>
</html>