<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provide List</title>
</head>
<body>
<p><a th:href="@{/customers}">Back</a></p>
<p><a th:href="@{/create-province}">Create New Province</a></p>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th colspan="3">Action</th>
    </tr>
    <tr th:each="x,rowStats:${provinces}">
        <td th:text="${rowStats.count}"></td>
        <td th:text="${x.name}"></td>
        <td><a th:href="@{/edit/{id}(id=${x.id})}">edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${x.id})}">delete</a></td>
        <td><a th:href="@{/view-province/{id}(id=${x.id})}">view</a></td>
    </tr>
</table>
</body>
</html>