<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action</title>
</head>
<body>
<h1>Manage Categories</h1>
<p><a th:href="@{/categories}">Back to list</a></p><hr>
<h3 th:if="${message}">
   <p style="color:red;" th:text="${message}"></p>
</h3>
<form th:action="@{/save}" th:object="${category}" novalidate method="post">
    <table>
        <tr>
            <td></td>
            <td><input hidden th:field="*{id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
    </table><hr><br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>