<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>List Categories</h1>
<p><a th:href="@{/products}">Back to Products list</a></p>
<p><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNew"
      data-bs-whatever="@mdo">Creat New Category
</a></p>
<input type="text" id="search" name="search" placeholder="Search by name">
<input onclick="findCategory()" type="submit" value="Submit">
<hr>
<table id="categoryList" border="1px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="x, rowStats:${categories}">
        <td th:text="${x.id}"></td>
        <td th:text="${x.name}"></td>
        <td>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
               data-bs-whatever="@mdo" th:attr="data-category-id=''+${x.id}+''">Edit
            </a>
        </td>
        <td><a class="deleteCategory btn btn-danger" th:href="${x.getId()}">Delete</a></td>
        <td><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showCategory"
               data-bs-whatever="@mdo" th:attr="data-category-id=''+${x.id}+''">View
        </a></td>
    </tr>
</table>
<div id="modal"></div>
<div id=""></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    function findCategory() {
        let search = $('#search').val();
        $.ajax({
            type: "GET",
            url: `/api/categories/search?search=${search}`,
            success: function (data) {
                $('#search').val("");
                let content = '    <tr>\n' +
                    '        <th>Id</th>\n' +
                    '        <th>Name</th>\n' +
                    '        <th>Edit</th>\n' +
                    '        <th>Delete</th>\n' +
                    '        <th>View</th>\n' +
                    '    </tr>';
                for (let i = 0; i < data.content.length; i++) {
                    content += getCategory(data.content[i]);
                }
                document.getElementById('categoryList').innerHTML = content;
                $(document).ready(function () {
                    $('.deleteCategory').click(function (event) {
                        let a = $(this);
                        let categoryId = a.attr("href");
                        $.ajax({
                            type: "DELETE",
                            url: `/api/categories/${categoryId}`,
                            success: function (data) {
                                a.parent().parent().remove();
                            }
                        });
                        event.preventDefault();
                    });
                })
            }
        })
    }

    function successHandler() {
        $('#exampleModal').modal('hide');
        $('#createNew').modal('hide');
        $.ajax({
            type: "GET",
            url: `/api/categories`,
            success: function (data) {
                let content = '    <tr>\n' +
                    '        <th>Id</th>\n' +
                    '        <th>Name</th>\n' +
                    '        <th>Edit</th>\n' +
                    '        <th>Delete</th>\n' +
                    '        <th>View</th>\n' +
                    '    </tr>';
                for (let i = 0; i < data.content.length; i++) {
                    content += getCategory(data.content[i]);
                }
                document.getElementById('categoryList').innerHTML = content;
                $(document).ready(function () {
                    $('.deleteCategory').click(function (event) {
                        let a = $(this);
                        let categoryId = a.attr("href");
                        $.ajax({
                            type: "DELETE",
                            url: `/api/categories/${categoryId}`,
                            success: function (data) {
                                a.parent().parent().remove();
                            }
                        });
                        event.preventDefault();
                    });
                })
            }
        })
    }
//vẽ lại html
    function getCategory(category) {
        return `<tr>
<td >${category.id}</td>
<td >${category.name}</td>` +
            `<td><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo" data-category-id=${category.id}>Edit</a>
        </td>` +
            `<td><a class="deleteCategory btn btn-danger"  href="${category.id}">Delete</a></td>` +
            `<td><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showCategory"
               data-bs-whatever="@mdo" data-category-id=${category.id}>View
        </a></td></tr>`;
    }
//hàm edit
    $(document).ready(function () {
        $('#exampleModal').on('show.bs.modal', function (e) {
            let categoryId = $(e.relatedTarget).data('category-id')
            $.ajax({
                type: "GET",
                url: `/api/categories/${categoryId}`,
                success: function (data) {
                    $('#recipient-id').val(data.id)
                    $('#message-name').val(data.name)

                    $('#save-changes').click(function (event1) {
                        let id = $('#recipient-id').val()
                        let name = $('#message-name').val()
                        let newCategory = {
                            id: id,
                            name: name
                        }
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            type: "PUT",
                            url: `/api/categories/${id}`,
                            data: JSON.stringify(newCategory),
                            success: successHandler
                        })
                        event.preventDefault();
                    })
                }
            })
        });
    })
//hàm delete
    $(document).ready(function () {
        $('.deleteCategory').click(function (e) {
            let a = $(this);
            let categoryId = a.attr("href");
            $.ajax({
                type: "DELETE",
                url: `/api/categories/${categoryId}`,
                success: function (data) {
                    a.parent().parent().remove();
                }
            });
            event.preventDefault();
        });
    })
//hàm create
    $(document).ready(function () {
        $("#createNew").click(function (e) {
            let name = $('#category_name').val()
            let newCategory = {
                name: name
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: `/api/categories/`,
                data: JSON.stringify(newCategory),
                success: successHandler
            })
            event.preventDefault();
        })
    })
//hàm show
    $(document).ready(function () {
        $('#showCategory').on('show.bs.modal', function (e) {
            let categoryId = $(e.relatedTarget).data('category-id')
            $.ajax({
                type: "GET",
                url: `/api/categories/` + categoryId,
                success: function (data) {
                    $('#category_id1').val(data.id)
                    $('#category_name1').val(data.name)
                }
            })
            event.preventDefault();
        });
    })
</script>
<!--modal edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manager Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-id" class="col-form-label">Id:</label>
                        <input readonly type="text" class="form-control" id="recipient-id">
                    </div>
                    <div class="mb-3">
                        <label for="message-name" class="col-form-label">Name:</label>
                        <textarea class="form-control" id="message-name"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="save-changes">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--modal create-->
<div class="modal fade" id="createNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCate">Create Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="category_name" class="col-form-label">Name:</label>
                        <textarea class="form-control" id="category_name"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <button class="btn btn-primary" id="createdCate">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--modal show-->
<div class="modal fade" id="showCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showCate">Category Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="category_id1" class="col-form-label">Id:</label>
                        <input readonly type="text" class="form-control" id="category_id1">
                    </div>
                    <div class="mb-3">
                        <label for="category_name1" class="col-form-label">Name:</label>
                        <textarea readonly class="form-control" id="category_name1"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>