<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Action</title>
</head>
<body>
<h1>Category Detail</h1>
<p><a th:href="@{/categories}">Back to list</a></p><hr>
<form th:action="@{/save}" th:object="${category}" novalidate method="post">
  <h3 th:text="${category.name}"></h3>
  <table border="1px">
    <tr>
        <th>Name</th>
        <th>Descriptions</th>
        <th>Image</th>
    </tr>
    <tr th:each="x:${products}">
      <td th:text="${x.name}"></td>
      <td th:text="${x.descriptions}"></td>
      <td><img height="100px" width="100px" style="object-fit: cover" th:src="@{'/image/' + ${x.image}}" alt="Hola"></td>
    </tr>
  </table>
</form>
</body>
</html>