<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<p>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showOk"
       data-bs-whatever="@mdo">Register
    </a>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showLogin"
       data-bs-whatever="@mdo">Login
    </a>
</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script rel="stylesheet" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="modal fade" id="showOk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="col-form-label">Full Name:</label>
                        <input type="text" class="form-control" id="fullName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="submitLogin">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="showLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="usernameLogin">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="passwordLogin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="submitLoginForm">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // $('#submitLogin').click(function (e) {
        //     let username = $('#username').val();
        //     let password = $('#password').val();
        //     let fullName = $('#fullName').val();
        //     let newUser = {
        //         username: username,
        //         password: password,
        //         fullName: fullName
        //     }
        //     $.ajax({
        //         headers: {
        //             'Accept': 'application/json',
        //             'Content-Type': 'application/json'
        //         },
        //         type: "POST",
        //         url: `/api/register`,
        //         data: JSON.stringify(newUser),
        //         success: function (data) {
        //             $('#showOk').modal('hide');
        //             console.log(data)
        //             $('#username').val("");
        //             $('#password').val("");
        //             $('#fullName').val("");
        //         }
        //     })
        //     event.preventDefault()
        // })


        $('#submitLoginForm').click(function (e) {
            let username = $('#usernameLogin').val();
            let password = $('#passwordLogin').val();
            let newUser = {
                username: username,
                password: password,
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: `/api/login`,
                data: JSON.stringify(newUser),
                success: function (data) {
                    $('#showLogin').modal('hide');
                    console.log(data)
                    $('#usernameLogin').val("");
                    $('#passwordLogin').val("");
                    localStorage.setItem("accessToken", data.accessToken);
                    window.location.href = "http://localhost:8080/api/hello";
                }
            })
            event.preventDefault()
        })
    })
</script>
</body>
</html>