<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Product</title>
</head>
<body>
<h1>Manage Product</h1>
<p><a th:href="@{/products}">Back to list</a></p>
<hr>
<h3 th:if="${message}">
    <p style="color:red;" th:text="${message}"></p>
</h3>
<form method="post" th:href="@{/products/create-product}" th:object="${productForm}" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" th:field="*{name}"></td>
            <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <th>Descriptions</th>
            <td><input type="text" th:field="*{descriptions}"></td>
            <td style="color: red" th:if="${#fields.hasErrors('descriptions')}" th:errors="*{descriptions}">Name Error</td>
        </tr>
        <tr>
            <th>Categories</th>
            <td>
                <select th:field="*{category}">
                    <option th:each="x:${categories}" th:value="${x.id}" th:text="${x.name}">
                </select>
            </td>
        </tr>
        <tr>
            <th>Image</th>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
    <hr>
</form>
</body>
</html>