<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Products</title>
</head>
<body>
<h1>List Products</h1>
<p><a th:href="@{/categories}">Show List Categories</a></p>
<p><a th:href="@{/create-product}">Create New Product</a></p>
<hr>
<table border="1px">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Descriptions</th>
        <th>Category</th>
        <th>Image</th>
        <th colspan="3">Action</th>
    </tr>
    <tr th:each="x, rowStats:${products}">
        <td th:text="${rowStats.count}"></td>
        <td th:text="${x.name}"></td>
        <td th:text="${x.descriptions}"></td>
        <td th:text="${x.category.name}"></td>
        <td><img height="100px" width="100px" style="object-fit: cover" th:src="@{'/image/' + ${x.image}}" alt="Hola"></td>
        <td><a th:href="@{/edited/{id}(id=${x.id})}">edit</a></td>
        <td><a th:href="@{/deleted/{id}(id=${x.id})}">delete</a></td>
        <td><a th:href="@{/viewed/{id}(id=${x.id})}">view</a></td>
    </tr>
</table>
</body>
</html>